.group {
    width: 656px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .group {
        width: 288px;
        height: 163px;
    }
}