.frame {
    width: 355px;
    height: 48px;
    background-color: #0278FE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    grid-area: frame;
}

.frame:hover {
    cursor: url(/images/Imported\ Layers\ Copy\ 4.png), auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .frame {
        width: 288px;
        
    }
}